.dt{
    background-image: url('../icons/fondo2.jpg');
    background-repeat: repeat;
    background-size: contain;    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.imga{

    height: 10cm;
    width: 10cm;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55);    
}
.type{
    padding: 20px;
    box-shadow: 0px 0px 20px 2px #402F26;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );

    border-radius: 10px;
    border: 3px solid rgba( 0, 0, 0, 0.3 );
    color: #ffffff;
    
}
.title{
    margin-top: 100px;
    padding: 10px;    
    color: #ffffff98;

    box-shadow: 0px 0px 20px 2px #402F26;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );

    border-radius: 10px;
    border: 3px solid rgba( 0, 0, 0, 0.3 );
}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 100px;
    color: #000000;
    font-size: 17px;
    background: #f7eac3;
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #f2f2b1;
    background-image: -webkit-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: -moz-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: -ms-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: -o-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: linear-gradient(to bottom, #f2f2b1, #f3ff99);
    text-decoration: none;
    cursor: pointer;
  }

  .tarjetaDetalles {
    background-color: red;
  }