.bkg{
    background-image: url('../icons/fondo3.jpg');
    background-repeat: repeat;
    background-size: absolute;    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.select{
  border-radius: 30px;
  background: linear-gradient(145deg, #3f2918, #4b311d);
  box-shadow:  26px 10px 40px #271a0f,
             -26px -10px 40px #654227;
             border-style: none;

  cursor: pointer;
  display:inline-block;
  justify-content: center;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  color: #000;
}
.cards{
    display: grid;
    /* align-items:center; */
    /* padding: 30px; */
    justify-content: center;
    grid-template-columns: 33% 33% 33% ;
    margin-top: 8rem;

}

.paginado{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  margin-top: 30px;
  
}

.filterC{
  display: flex;
  flex-direction: row;
  justify-content: center ;
  justify-content: space-evenly ;

}
.refresh{
  border-radius: 30px;
  background: linear-gradient(145deg, #3f2918, #4b311d);
  box-shadow:  26px 10px 40px #271a0f,
             -26px -10px 40px #654227;
             border-style: none;

  font-size: 15px;
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.input{
  border-radius: 30px;
  background: #4b311d;
  box-shadow: inset 50px 50px 30px #291b10,
              inset -50px -50px 30px #6d472a;
  border-style: none;

  padding: 10px;
  font-size: 15px;

}
.create{
  border-radius: 30px;
  background: linear-gradient(145deg, #3f2918, #4b311d);
  box-shadow:  26px 10px 40px #271a0f,
             -26px -10px 40px #654227;
  border-style: none;
  text-decoration: none;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}
.search{
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-bottom: 20px;
}
.btnsearch {
  border-radius: 30px;
  background-color: #83615A;
  box-shadow: inset 50px 50px 100px #291b10,
              inset -50px -50px 100px #6d472a;
  border-style: none;
  font-size: 15px;

  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.filtrus {
  display: flex;
  position: fixed;
  z-index: 100;
  flex-direction: column;
  margin-top: -128px;
  width: 100vw;
  height: 8rem;
  background: linear-gradient(145deg, #3f2918, #4b311d);
  box-shadow:  20px 10px 40px #271a0f,
             -20px -06px 40px #654227;
             border-style: none;
}

.carga {
    margin-top: 250px;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

  .carga1 {
  animation: 10s;
  animation-name: carga1;
}

@keyframes carga1 {
  0% {
opacity: 100%;
  }

    50% {
opacity: 100%;

  }

  100% {   
opacity: 100%;
  }
}

  .carga2 {
  animation: 10s;
  animation-name: carga2;
}

@keyframes carga2 {
  0% {
opacity: 0%;
  }

    50% {
opacity: 100%;

  }

  100% {   
opacity: 100%;
  }
}

  .carga3 {
  animation: 10s;
  animation-name: carga3;
}

@keyframes carga3 {
  0% {
opacity: 0%;
  }

    50% {
opacity: 0%;

  }

  75% {   
opacity: 100%;
  }
}