.paginado{
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: rgb(201, 120, 120);
    /* margin-top: 30%; */
    align-content: space-around;
    justify-content: center;
}

.num{
   display: flex;
   justify-content: space-between;
}


.ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    color: #ffffff99;;
    margin-top: -20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.5rem;
    width: 1.5rem;
    border-radius: 10px;
    background: linear-gradient(145deg, #3f2918, #4b311d);
    box-shadow:  26px 26px 68px #271a0f,
             -26px -26px 68px #654227;
    border-style: none;
    cursor: pointer;
}

.container:hover {
    transform: scale(1.1);
    color: brown;
}